/* Dashcam Container */
.dashcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  width: 90%;
  margin: 20px auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.back-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.dashcam-container h1 {
  color: #007bb5;
  font-size: 2em;
  margin-bottom: 15px;
  text-align: center;
}

/* Image Column */
.dashcam-image-column {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add spacing between images */
  width: 100%;
  max-width: 800px;
  align-items: center;
}

.dashcam-image-wrapper {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.dashcam-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;
}

.dashcam-image:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}
